body{
  background-color: #855c8f;
}
ol{
  list-style-type:none;
}
.question {
  border: 1px solid #8278afcc;
  padding: 10px;
  border-radius: 5px;
}
.slides {
  width: 300px;
  height: 200px;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
}
.slide {
  position: absolute;
  background: pink;
  height: 100%;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  color: #855c8f;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 10px;
  transition: all .25s;
  transform: translateX(-200%);
}
.slide.prev {
  z-index: 10;
  transform: translateX(-100%);
}
.slide.current {
  z-index: 10;
  transform: translateX(0);
}
.slide.next {
  z-index: 10;
  transform: translateX(100%);
}
.controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}



