html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 100px auto;
  padding: 10px;
  width: 50%;
  min-height: 50vh;
  z-index: 2;
  backdrop-filter: blur(0.5rem);
  box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: aliceblue;
}

