@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Gaegu:wght@700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Gaegu", cursive;
}
body {
  background-color: #cbaacb;
}
.container {
  background-color: #abdee6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 55%;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 10px 10px;
}
.container * {
  margin: 15px;
  font-size: 30px;
  text-align: center;
}
.container h1 {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}
.container h1 #main-title {
  color: #000000;
  font-size: 40px;
  -webkit-text-stroke: 0.05rem rgb(0, 0, 0);
}
.container form button {
  background-color: #fbfb9c;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  -webkit-text-stroke: 0.01rem rgb(0, 0, 0);
  box-shadow: 5px 5px;
}
.container form button:hover {
  cursor: pointer;
  color: #00000083;
}
.container form input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.container form input[type="button"] {
  background-color: #b5ffc0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px;
}
.container .content {
  color: #3d6bc7;
  font-size: 35px;
  -webkit-text-stroke: 0.05rem rgb(0, 0, 0);
}
.flower {
  color: #d996df;
  font-size: 25px;
  -webkit-text-stroke: 0.01rem rgb(0, 0, 0);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #25253f;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
}
@media screen and (max-width: 975px) {
  .container h1 #main-title {
    font-size: 30px;
  }
  .container {
    width: 70%;
  }
}
@media screen and (max-width: 827px) {
  .container * {
    margin: 15px;
    font-size: 20px;
  }
  .container h1 #main-title {
    font-size: 25px;
  }
  .container {
    width: 80%;
  }
  .container .content {
    font-size: 25px;
  }
}
