@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
* {
  box-sizing: border-box;
  font-family: "Concert One", cursive;
}
body {
  background-color: #abbae6;
}
.container {
  background-color: #abcbe6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 10px 10px;
}
.container * {
  margin: 15px;
  font-size: 30px;
}
.container h1 {
  color: #000000;
  font-size: 40px;
}
.container form button {
  background-color: #ffccb6;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  color: black;
}
.container form button:hover {
  -webkit-text-stroke: 0.01rem rgb(0, 0, 0);
  cursor: pointer;
  color: #ffccb6;
}
.container form input {
  background-color: #fff;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(87, 86, 86);
}
.container .content {
  color: #ffffb5;
  -webkit-text-stroke: 0.05rem rgba(0, 0, 0, 1);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #25253f;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
}
