body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.circle {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}