@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

* {
  box-sizing: border-box;
  font-family: "Chewy", cursive;
}
body {
  background-image: url("./assets/bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 300px auto;
}
.container button {
  cursor: pointer;
  width: 200px;
  padding: 10px;
  font-size: larger;
  border-radius: 5px;
  background-color: #e07a5f;
  border: none;
  outline: none;
  letter-spacing: 3px;
  color: #f4f1de;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
}
.modal-content {
  background-color: #f4f1de;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  height: 300px;
  color: #e07a5f;
}
.modal-content h2 {
  letter-spacing: 2px;
}

.closeModal {
  color: #81b29a;
  float: right;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.closeModal:hover {
  color: rgba(136, 18, 18, 0.674);
}
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
}
