:root {
  --ff: "Open Sans", sans-serif;
  --fs:large;
  --bg-color: #00273d;
  --fc-color: #f0f8ff;
  --margin: 20px auto;
  --bc-budgetForm: #316c5e;
  --bc-expenseForm: #713232;
  --bg-input: #183548;
  --bg-input-focus: #b7c4cc;
  --br:5px;
}
body {
  font-family: var(--ff);
  background-color: var(--bg-color);
  color: var(--fc-color);
  font-size: var(--fs);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px 50px;
}
.leftCell {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: var(--margin);
}
.rightCell {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  height: 50%;
  padding: 10px;
}

.rightCell.budget,
.rightCell.expense,
.rightCell.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px auto;

}
.leftCell #budget-form,
.leftCell #expense-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: var(--br);
  padding: 20px;
  width: 75%;
  margin: var(--margin);
}
#budget-form {
  border: 3px solid var(--bc-budgetForm);
}
#expense-form {
  border: 3px solid var(--bc-expenseForm);
}
#budget-form *,
#expense-form * {
  margin: 5px;
}
#budget-form button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: var(--br);
  background-color: var(--bc-budgetForm);
  color: var(--fc-color);
  cursor: pointer;
}
#expense-form button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: var(--br);
  background-color: var(--bc-expenseForm);
  color: var(--fc-color);
  cursor: pointer;
}
#budget-form input {
  border-bottom: 1px solid var(--bc-budgetForm);
}
#expense-form input {
  border-bottom: 1px solid var(--bc-expenseForm);
}
input {
  border: none;
  border-radius: var(--br);
  padding: 10px var(--br);
  outline: none;
  background: var(--bg-input);
  width: 90%;
}
input:focus {
  background-color: var(--bg-input-focus);
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: auto;
    gap: 2rem;
    padding: var(--br) 25px;
  }
}
