:root {
  --background-color: #ffffff;
  --font-family: system-ui, sans-serif;
  --font-size: 18px;
}
* {
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: #5f5e5e;
  font-size: var(--font-size);
  font-weight: 500;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  padding: 10px;
}
.container .row {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 10px;
}
.container .row * {
  padding: 5px;
}
.container .row button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #5f5e5e;
  border: 1px solid rgb(199, 199, 199);
}
.container .row input {
  color: #1d3461;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: white;
}
#user-input {
  border: 1px solid rgb(199, 199, 199);
}
#convert-button {
  background-color: #eae4e9;
}
#reset-button {
  background-color: #eae4e9;
}
#swap-button {
  background-color: #eae4e9;
}
#red-color {
  background-color: rgba(255, 0, 0, 0.2);
}
#green-color {
  background-color: rgba(0, 255, 132, 0.2);
}
#blue-color {
  background-color: rgba(0, 68, 255, 0.2);
}
#css-color {
  border: 1px solid rgb(199, 199, 199);
}
.last_row {
  grid-column: 1 / span 2;
  margin: 0 auto;
}
