@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Gaegu:wght@700&display=swap");
html {
  background-color: #d0d5f7;
  box-sizing: border-box;
  font-family: "Concert One", cursive;
  font-family: "Gaegu", cursive;
  font-size: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #b8cfec;
  color: #000000;
  width: 30%;
  height: 100%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 10px 10px black;
}
.container header {
  background-color: black;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 20px 0;
  color: white;
}
.container button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #d4f0f7;
  height: 40px;
  color: black;
  cursor: pointer;
  font-family: inherit;
  font-size: large;
}
.bill,
.headCount {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 10px;
}
.bill *,
.headCount * {
  padding: 10px 0;
}
.bill input,
.headCount input,
.service input {
  width: auto;
  border-radius: 5px;
  border: none;
  height: 20px;
  padding-left: 10px;
  border: 1px solid black;
}
.bill input:focus,
.headCount input:focus,
.service input:focus,
select {
  border: none;
  outline: none;
}
.headCount {
  position: relative;
}
.headCount i {
  position: absolute;
  bottom: 0;
}
.icon {
  padding: 10px;
  min-width: 20px;
}
form select {
  border-radius: 5px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5e7591;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
}
