html {
  background-color: #312244;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #144552;
  color: #b7a9cb;
  width: 30%;
  height: 100%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}
.container header {
  background-color: #312244;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 20px 0;
}
.container button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #006466;
  height: 40px;
  font-weight: inherit;
  color: inherit;
  letter-spacing: 2px;
}
.bill,
.headCount {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 10px;
}
.bill *,
.headCount * {
  padding: 10px 0;
}
.bill input,
.headCount input,
.service input {
  width: auto;
  border-radius: 5px;
  border: none;
  height: 20px;
  padding-left: 10px;
}
.bill input:focus,
.headCount input:focus,
.service input:focus,
select {
  border: none;
  outline: none;
}
.headCount{
  position: relative;
}
.headCount i {
  position: absolute;
  bottom: 0;
}

.icon {
  padding: 10px;
  min-width: 20px;
}
form select {
  border-radius: 5px;

}

