html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #2b2d42;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}
.lights {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  height: 150px;
  background-color: #161723;
  margin: 0 auto;
  border-radius: 40px;
  padding: 20px 10px;
}
.lights div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #2b2d42;
}
.holder {
  display: flex;
  flex-direction: column;
  width: 10px;
  height: 200px;
  background-color: #161723;
  padding: 5px;
  align-items: center;
  margin: -10px auto;
  z-index: -100;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.red {
  background-color: #9f3115;
  box-shadow: rgba(159, 49, 21, 0.8) 0px 22px 70px 4px;
  border: none;
}
.yellow {
  background-color: #d4e96a;
  box-shadow: rgba(212, 233, 106, 0.8) 0px 22px 70px 4px;
  border: none;
}
.green {
  background-color: #0ca974;
  box-shadow: rgba(12, 169, 116, 0.8) 0px 22px 70px 4px;
  border: none;
}
.off {
  background-color: #161723;
  box-shadow: none;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
}
