@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
:root {
  --beige-clr: #f1e9da;
  --blue-clr: #cedbf6;
  --green-clr: #89ba73;
  --pink-clr: #f08080;
  --purple-clr: #9883e5;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Lilita One", cursive;
  background-color:#4a4e69;
  margin: 50px auto;
  overflow-x:hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.wrapper * {
  margin: 5px;
}
.wrapper h2 {
  color: var(--green-clr);
  letter-spacing: 2px;
  font-weight: lighter;
}
#search_area input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--pink-clr);
  color: #4a4e69;
  font-family: inherit;
  letter-spacing: 1px;
  cursor: pointer;
}
button:hover {
  background-color: var(--pink-clr);
  color: #fff;
}
.holder {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: auto;
  grid-gap:20px;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:800px) {
  .holder{
    grid-template-columns: repeat(1,300px);
    margin: 0 auto;
    grid-gap:5px;
  }
}

@media screen and (min-width:700px) and (max-width:900px) {
  .holder{
    grid-template-columns: repeat(2,300px);
    margin: 0 auto;
    grid-gap:5px;
  }
}
@media screen and (min-width:900px) and (max-width:1200px) {
  .holder{
    grid-template-columns: repeat(3,300px);
    margin: 0 auto;
    grid-gap:5px;
  }
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  background-color: #e3d3e4;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.frame img {
  border: 4px solid #c7bdec;
  border-radius: 5px;
  width: 250px;
  height: 200px;
}
.frame span {
  color: #4e6594;
  position: absolute;
  left:0;
  bottom: 0;
  margin: 20px;
}
