html {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  background-color: #292c35;
}
.toggler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 50px;
  margin: 20% auto;
  background-color: black;
  color: aliceblue;
  padding: 10px;
}
.toggler svg {
  cursor: pointer;
}
.sun {
  background-color: white;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#a39cbe;
  position: absolute;
  bottom: 0;
  left:50%;
  margin-left:-150px;
}
