html{
    box-sizing: border-box;
    margin: 30px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #2b2d42;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container button{
    border-radius: 5px;
    padding: 10px;
    background-color: #006f57;
    color: #2b2d42;
    border: none;
    font-weight: bold;
}
.quote{
    background-color: #2b2d42;
    width: 50%;
    height: max-content;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    color: whitesmoke;
    opacity: 0.7;
    box-shadow: 0 4px 8px 0 rgba(3, 8, 70, 0.196), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-style: italic;
}