html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #2b2d42;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 30px;
}
.container * {
  margin: 10px;
  color: #f2f2f2;
}
.container button {
  background-color: #006f57;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: inherit;
}
.container button:hover {
  cursor: pointer;
  background-color: #2a8370;
}
.container .title {
  font-size: 30px;
}
.form {
  position: relative;
  display: block;
  border: 1px solid #6068b2;
  border-radius: 5px;
  width: 30%;
  padding: 20px;
}
.form * {
  margin: 10px auto;
  border-radius: 5px;
}
.form span {
  position: absolute;
  right: 10px;
  top: 0;
  color: rgb(197, 173, 159);
}
.form span:hover {
  color: rgb(189, 38, 4);
  cursor: pointer;
}
.form textarea {
  color: #2b2d42;
}
.flashCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  color: whitesmoke;
  margin: 30px;
}
.flashCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #6068b2;
  border-radius: 5px;
  width: 20%;
  height: 100%;
  padding: 20px;
  margin: 10px;
}
.hide {
  display: none;
}
.hoverable:hover {
  color: #bbcbd8;
}
.show {
  color: #2196f3;
  cursor: pointer;
  margin-top: 10px;
}
.answer {
  display: none;
  margin-top: 10px;
}
.showAnswer {
  display: block;
}
.answerBtn {
  margin-right: 10px;
}
.edit {
  background-color: #2b2d42;
  border: 2px solid #234a87;
  border-radius: 5px;
  padding: 10px;
  font-family: inherit;
  color: inherit;
  padding: 5px;
}
.delete {
  background-color: #2b2d42;
  border: 2px solid rgb(135, 35, 40);
  border-radius: 5px;
  padding: 10px;
  font-family: inherit;
  color: inherit;
  padding: 5px;
  margin-right:5px;
}
.edit:hover {
  background-color: #203049;
  cursor: pointer;
}
.delete:hover {
  background-color: #3a1435;
  cursor: pointer;
}
@media (max-width: 1200px) and (min-width: 1200px) {
  .flashCard {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .flashCard {
    width: 100%;
    font-size: medium;
  }
}
