@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(
    to right,
    #0f243e,
    #1d2e48,
    #2a3953,
    #37445e,
    #444f69,
    #444f69,
    #444f69,
    #444f69,
    #37445e,
    #2a3953,
    #1d2e48,
    #0f243e
  );
  margin: 50px auto;
  text-align: center;
  font-size: larger;
  color: rgb(61, 193, 116);
}
#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bolder;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  border: 3px solid #809af0;
  text-align: center;
  font-weight: bolder;
  background-color: #444f69;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.main div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  text-align: left;
}

.field {
  border: 3px solid #809af0;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  width: 40%;
}

.field:focus {
  background-color: rgba(234, 207, 253, 0.192);
}
#translated_text {
  border: 3px solid #809af0;
  outline: none;
  border-radius: 4px;
  width: 100%;
  height: 20vh;
}
#user_input {
  border: 3px solid #809af0;
  outline: none;
  border-radius: 4px;
  width: 40%;
  height: 20vh;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #809af0;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
}
