@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Lilita One", cursive;
  background-color: #86a3c3;
  color: #584f85;
  margin: 100px auto;
  text-align: center;
  font-size: larger;
}
h2 {
  letter-spacing: 4px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
}
.main div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  text-align: left;
}
button {
  margin: 40px auto;
  cursor: pointer;
  background-color: #a7d3a6;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 800;
  color: #584f85;
  letter-spacing: 2px;
  transform: scale(1);
  transition: transform 0.3s;
}
button:hover {
  opacity: 0.7;
  color: #1d1b24;
  transform: scale(1.06);
}
input[type="text"] {
  background-color: #86a3c3;
  border: 2px solid #aab6c9;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  width: 40%;
}
input[type="text"]:focus {
  background-color: rgba(227, 164, 206, 0.2);
}
