html {
  box-sizing: border-box;
  margin: 10px auto;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #343a40;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.container span {
  padding: 20px 0;
  color: white;
  font-size: larger;
  margin: 0 auto;
  text-align: center;
}
#circles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
#circles div {
  border-radius: 50%;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  #circles {
    width: 60%;
  }
}
@media only screen and (max-width: 992px) {
  #circles {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  #circles {
    width: 80%;
  }
  * {
    margin: 20px auto;
  }
}
@media only screen and (max-width: 600px) {
  #circles {
    width: 100%;
  }
}
