@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
:root{
  --clr-1:#252737;
  --clr-2 : whitesmoke;
  --clr-3:#dd5e98;
}
html {
  box-sizing: border-box;
  margin: 100px auto;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--clr-1);
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(200px, 2);
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 50px auto;
  color: var(--clr-2);
  grid-gap: 10px;
}
.container * {
  text-align: center;
}
.container button {
  width: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: none;
  background-color: var(--clr-3);
  color: var(--clr-2);
  border-radius: 5px;
  font-weight: bold;
  margin: 20px auto;
}
.target {
  display: flex;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 2px;
}
.targetColor {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 10px auto;
  font-weight: bold;
}

#options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
