@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
:root {
  --clr-1: #252737;
  --clr-2: #e6e5e5;
  --clr-3: #dd5e98;
  --clr-4: #f5ed00;
  --clr-5: gray;
  --clr-6: #7432aa;
}
html {
  box-sizing: border-box;
  margin: 100px auto;
  font-family: "Chewy", cursive;
}
body {
  background-color: var(--clr-1);
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(200px, 2);
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 50px auto;
  grid-gap: 10px;
}
.container * {
  text-align: center;
}
.target {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 4px;
  color: var(--clr-2);
}
.target * {
  margin-right: 10px;
}
#options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
#restColor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 25px auto;
  padding: 10px;
  font-family: inherit;
  letter-spacing: 4px;
  font-size: large;
  color: var(--clr-4);
  -webkit-text-stroke: 1px var(--clr-6);
  border: 1px solid var(--clr-4);
  cursor: pointer;
  background-color: var(--clr-3);
  border-radius: 5px;
}
#restColor * {
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
}
