html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #1a324e;
  color: cornsilk;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
}
.main * {
  margin: 20px auto;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  padding: 50px;
  font-weight: 700;
  font-size: 50px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container * {
  text-align: center;
  margin: 10px auto;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}
.num1,
.num2 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 50px;
  height: 50px;
  padding: 20px;
  background-color: #6edeb91c;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 20px;
  outline: none;
  border: none;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button {
  cursor: pointer;
  background-color: #1a324e;
  border: 2px solid #0089f7;
  outline: none;
  padding: 10px;
  color: aliceblue;
  width: auto;
}
button:hover {
  background-color: #0088f7ab;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
}
