html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-image: url("./assets/bg.jpg");
  
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  padding: 10px;
  width: 40%;
  min-height: 50vh;
  z-index: 2;
  backdrop-filter: blur(0.5rem);
  box-shadow: 6px 6px 20px rgba(59, 12, 70, 0.3);
  border-radius: 10px;
}
.container *{
  margin: 20px 0;
}
.container header {
  font-weight: bolder;
  color: aliceblue;
  font-size: 50px;
}
.container .buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.container #counter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: aliceblue;
  width:auto;
  padding: 10px;  
  backdrop-filter: blur(0.8rem);
  box-shadow: 6px 6px 20px rgba(59, 12, 70, 0.3);
  border-radius: 10px;
}
.buttons *{
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #37406f;
  color: aliceblue;
}
.buttons *:hover{
  background-color: #785585;
}
@media screen and (max-width:1000px) {
  .container{
    width: 70%;
  }
}
